<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>23/12/12 17:59:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:TestCase_package.Patch_TC1@14028087]">executor</td> 
  <td>main@1677207406</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>23/12/12 18:00:55</td>   <td>96687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:TestCase_package.Post_TC1@31ea9581]">executor</td> 
  <td>main@1677207406</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>23/12/12 18:00:53</td>   <td>94436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:TestCase_package.Put_TC1@6440112d]">executor</td> 
  <td>main@1677207406</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>23/12/12 18:00:51</td>   <td>92835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:TestCase_package.Get_TC1@5890e879]">executor</td> 
  <td>main@1677207406</td>   <td></td> </tr>
</table>
